@import "variables.scss";

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	color: rgb(63, 63, 70);
	font-family: 'Ubuntu', sans-serif;
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-image : url("./bg-body.png");
	background-size: cover;
}

.img-home {
	width: 45%;
	height: 45%;
	-moz-box-shadow: 0px 15px 15px rgb(187, 187, 187);
	-webkit-box-shadow: 0px 15px 15px  rgb(187, 187, 187);
	box-shadow: 0px 15px 15px  rgb(187, 187, 187);
	border-radius: 20px;
	border: solid 6px $secondary;
}

.rank-second {
	float: left;
	width: 33.33%;
	height: 100px;
	background-color: rgba(222, 222, 222, 0.503);
	-moz-box-shadow: 0 4px 10px -2px rgb(187, 187, 187);
	-webkit-box-shadow: 0 4px 10px -2px rgb(187, 187, 187);
	box-shadow: 0 4px 10px -2px rgb(187, 187, 187);
	border-top-left-radius: 20px 20px;
	border-bottom-left-radius: 20px 20px;
}

.rank-first {
	float: left;
	width: 33.33%;
	height: 100px;
	background-color: rgb(188, 162, 102, 0.503);
	-moz-box-shadow: 0 4px 10px -2px rgb(187, 187, 187);
	-webkit-box-shadow: 0 4px 10px -2px rgb(187, 187, 187);
	box-shadow: 0 4px 10px -2px rgb(187, 187, 187);
}

.rank-third {
	float: left;
	width: 33.33%;
	height: 100px;
	background-color: rgb(217, 119, 70, 0.503);
	-moz-box-shadow: 0 4px 10px -2px rgb(187, 187, 187);
	-webkit-box-shadow: 0 4px 10px -2px rgb(187, 187, 187);
	box-shadow: 0 4px 10px -2px rgb(187, 187, 187);
	border-top-right-radius: 20px 20px;
	border-bottom-right-radius: 20px 20px;
}

.ranking {
	margin: 100px auto;
	max-width: 800px;
	clear: both;
	font-family: 'Audiowide' !important;
}

.ranking h2 {
	color: rgb(88, 88, 88);	
}

h1 {
	font-family: 'Audiowide' !important;
	font-size: 48px !important;
}

canvas {
	background-color: "#dcd3bc";
	border-radius: 10px;
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	outline: #dcd3bc 0.35vw solid;
	display: flex;
	margin-top: 5vh;
	margin-bottom: 5vh;
	width: 70vw;
	height: 70vh;
	&:hover {
		cursor: none;
	}
}

.title-nav {
	font-family: 'Audiowide';
	transition: 300ms all ease-in-out;
	&:hover {
		color: $third;
	}
}

.div-notif {
	transform: translateY(-3px);
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: $primary;
}

::-webkit-scrollbar-thumb {
	background: $secondary;
	transition: all 300ms ease-in-out;
	border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
	background: $third;
}

.container-messagerie {
	position: fixed;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: flex-end;
	gap: 2px;
	.div-chan {
		gap: 2px;
		position: relative;
		.button-messagerie {
			background-color: $primary;
			padding: 5px 10px;
			border: 1px solid $third;
			border-bottom: none;
			position: absolute;
			right: 0;
			bottom: 0;
			border-radius: 7px 7px 0 0;
			width: 236px;
			&.active {
				display: none;
			}
		}
		.content-chan {
			min-height: 0px;
			height: 100%;
			opacity: 0;
			max-height: 0;
			transition: all 300ms ease-in-out;
			background-color: $primary;
			display: flex;
			flex-direction: column;
			border-radius: 7px 7px 0 0;
			gap: 5px;
			max-width: 237px;
			position: relative;
			&.active {
				max-height: 100%;
				min-height: 300px;
				opacity: 1;
				border: 1px solid $third;
				border-bottom: 0;
			}
			.header {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 20px;
				padding: 10px 15px;
				border-bottom: 1px solid $third;
				button {
					transition: none;
					border-bottom: 1px solid transparent;
					&.active {
						border-bottom: 1px solid $third;
						color: $third;
						border-radius: 0;
					}
				}
			}
			.container-action {
				display: flex;
				justify-content: space-between;
				padding: 0 5px;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
			}
			.body-room {
				max-height: 200px;
				overflow-y: scroll;
				overflow-x: hidden;
				padding: 10px 0;
				display: flex;
				flex-direction: column;
				gap: 10px;
				.container-room {
					background-color: $primary;
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 3px 0 3px 10px;
					.button-open-dropdown {
						font-size: 20px;
						letter-spacing: 1px;
						line-height: 0px;
						width: 23px;
						transform: rotate(90deg) translateX(3px);
						padding: 5px 0;
					}
				}
			}
			.body-friend {
				max-height: 230px;
				overflow-y: scroll;
				overflow-x: hidden;
				padding: 10px 0;
				display: flex;
				flex-direction: column;
				gap: 10px;
				.user-friend {
					margin: 0 auto;
					display: flex;
					align-items: center;
					width: 100%;
					p {
						font-family: 'Audiowide';
						font-size: 14px;
					}
					.object-cover {
						margin-left: 15px;
					}
					.flex-shrink-0 {
						margin-left: 10px;
					}
					p {
						margin-left: 5px;
						width: 90px;
					}
					.button-svg {
						margin-right: 5px;
						svg {
							width: 20px;
						}
					}
					img {
						margin-right: 5px;
					}
				}
			}
		}
	}
	.div-mp {
		overflow: hidden;
		display: flex;
		align-items: flex-end;
		gap: 2px;
		transition: all 300ms ease-in-out;
	}
	.mp-modal {
		border: 1px solid $third;
		border-radius: 7px 7px 0 0;
		border-bottom: none;
		background-color: $primary;
		font-family: 'Audiowide' !important;
		min-width: 300px;
		overflow: hidden;
		max-width: 300px;
		inline-size: 300px;
		.header {
			width: 100%;
			border-radius: 0;
			border: none;
			cursor: pointer;
			user-select: none;
			display: flex;
			gap: 5px;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: space-between;
			padding: 5px;
			max-height: 35px;
			.login {
				width: 100%;
				padding-left: 10px;
			}
			&.active {
				border-bottom: 1px solid $third;
				max-height: none;
			}
			.button-card-user {
				transform: translateY(-5px);
			}
		}
		.body {
			overflow-y: scroll;
			max-height: 0px;
			padding: 0 10px;
			font-family: 'Ubuntu', sans-serif;
			transition: all 300ms ease-in-out;
			inline-size: 280px;
			overflow-wrap: break-word;
			&::-webkit-scrollbar{
				display: none;
			}
			&.active {
				max-height: 350px;
				padding: 10px;
			}
			.avatar {
				font-family: 'Audiowide';
				display: flex;
				gap: 10px;
				margin-bottom: -20px;
			}
			.msg {
				padding-left: 50px;
				.updated { 
					font-size: 10px;
					font-weight: 300;
				}
			}
			.end {
				margin-bottom: 10px;
			}
			.solo {
				margin-bottom: 10px;
			}
			.typing {
				display: flex;
				opacity: 0;
				transition: all 300ms ease-in-out;
				&.active {
					opacity: 1;
				}
				.login {
					font-weight: 500;
					margin-right: 4px;
				}
				.dot-typing {
					position: relative;
					left: -9999px;
					width: 5px;
					height: 5px;
					border-radius: 5px;
					background-color: $third;
					color: $third;
					box-shadow: 9990px 0 0 0 $third, 9999px 0 0 0 $third, 10008px 0 0 0 $third;
					animation: dot-typing 1.5s infinite linear;
					transform: translate(15px, 12px);
				}
				@keyframes dot-typing {
					0% {
						box-shadow: 9990px 0 0 0 $third, 9999px 0 0 0 $third, 10008px 0 0 0 $third;
					}
					16.667% {
						box-shadow: 9990px -5px 0 0 $third, 9999px 0 0 0 $third, 10008px 0 0 0 $third;
					}
					33.333% {
						box-shadow: 9990px 0 0 0 $third, 9999px 0 0 0 $third, 10008px 0 0 0 $third;
					}
					50% {
						box-shadow: 9990px 0 0 0 $third, 9999px -5px 0 0 $third, 10008px 0 0 0 $third;
					}
					66.667% {
						box-shadow: 9990px 0 0 0 $third, 9999px 0 0 0 $third, 10008px 0 0 0 $third;
					}
					83.333% {
						box-shadow: 9990px 0 0 0 $third, 9999px 0 0 0 $third, 10008px -5px 0 0 $third;
					}
					100% {
						box-shadow: 9990px 0 0 0 $third, 9999px 0 0 0 $third, 10008px 0 0 0 $third;
					}
				}
			}
		}
		.send {
			border: none;
			font-family: 'Ubuntu';
			padding: 0;
			max-height: 0;
			transition: all 300ms ease-in-out;
			&.active {
				padding: inherit;
				max-height: inherit;
				.send-msg {
					display: block;
				}
			}
			.send-msg {
				display: none;
				background-color: transparent;
				width: 100%;
				border: none;
				border-top: 1px solid $third;
				&:focus {
					border-top: 1px solid $third;
				}
			}
		}
	
	}
}

.nav-ul {
	li {
		a {
			font-family: 'Audiowide' !important;
		}
	}
}

button,
.a-login,
.button-mode {
	font-family: 'Audiowide' !important;
	background-color: $third;
	padding: 5px 10px;
	font-size: 18px;
	border-radius: 7px;
	transition: 300ms all ease-in-out;
	margin: 0 auto;
}

.play-with-bot {
	text-align: center;
}

.bot-level {
	font-family: 'Audiowide';
	font-size: 18px;
	margin: auto;
	text-align: center;
}

.custom-slider {
	appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;  
	background: linear-gradient(to right, #f4f0e7, #aa9d79);
}

.custom-slider::-webkit-slider-thumb {
	appearance: none;
	border: 2px solid rgb(123, 123, 123)!important;
	background: white !important;
	border-color: #000;
}

input[type=range]::-moz-range-progress,
input[type=range]::-moz-range-track,
input[type=range]::-moz-range-thumb {
	appearance: none;
	border: 2px solid rgb(123, 123, 123)!important;
	background: white !important;
	border-color: #000;
}

#play-alone-button {
	margin-top: 5vh;
}

  
.game-mode {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	h3 {
		font-size: 42px;
		font-weight: 700;
		font-family: 'Audiowide';
		text-align: center;
	}
}

.a-login,
.submit-2fa {
	display: flex;
	gap: 10px;
	align-items: center;
	background-color: $third;
	padding: 10px;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 500;
	transition: 300ms all ease-in-out;
	color: $dark;
	&:hover {
		color: $third;
		background-color: $primary;
	}
}

#inputOne {
	padding: 4px;
	border: none;
	border-bottom: 1px solid $third;
	background-color: transparent;
	max-width: 150px;
	font-size: 28px;
	text-align: center;
}

#search,
#login,
#room-name,
#room-desc,
#room-pass,
#room-cpass,
#join-name,
#join-pass {
	padding: 4px;
	border: none;
	border-bottom: 1px solid $third;
	background-color: transparent;
	max-width: 200px;
}

#login {
	max-width: 100px;
}

#order,
#filter,
#room-status {
	cursor: pointer;
	border: none;
	padding-left: 2px;
	padding-bottom: 4px;
	border-bottom: 1px solid $third;
	background-color: transparent;
	max-width: 150px;
}

#room-status {
	max-width: 200px;
}

.modal-user-room {
	.container-user {
		display: flex;
		flex-direction: column;
		gap: 10px;
		.content-user {
			display: flex;
			align-items: center;
			p {
				width: 100px;
				margin-left: 5px;
				font-size: 14px;
				font-family: 'Audiowide';
				color: #000;
			}
			.flex-shrink-0 {
				margin-left: 10px;
			}
			.button-svg {
				svg {
					width: 24px;
				}
			}
			img {
				margin: 0 5px;
			}
			.button-card-user {
				transform: translateY(-11px);
			}
		}
	}
}
.button-admin {
	background-color: $secondary;
	padding: 5px 10px;
	font-size: 14px;
	border-radius: 7px;
	transition: 300ms all ease-in-out;
	margin: 0 auto;
	&:hover {
		color: $third;
		background-color: $primary;
	}
}

.card-private {
	display: flex;
	align-items: center;
	p {
		margin: 0 20px;
		width: 100px;
	}
}

.container-home {
	margin: 50px auto;
	h2 {
		font-size: 32px;
		font-family: 'Audiowide';
		margin-bottom: 20px;
	}
	.container-game {
		margin: 20px auto;
		max-width: 800px;
		.content-game {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 20px;
			>.shadow-md {
				width: 100%;
			}
		}
	}
}

.shadow-md {
	background-color: $primary;
}

.header-user-card {
	font-family: "Audiowide";
	font-weight: 700;
}

.content-search-users {
	label {
		font-family: "Audiowide";
		font-weight: 700;
	}
}

.button-actions {
	background-color: $secondary;
	padding: 5px 10px;
	transition: all 300ms ease-in-out;
	&:hover {
		background-color: $primary;
		color: $third;
	}
}

.modal-chan {
	.option {
		font-size: 10px;
		font-weight: 300;
	}
}

.modal-2fa {
	h2 {
		font-size: 24px;
		font-family: 'Audiowide';
		text-align: center;
		margin-bottom: 20px;
		color: #000;
	}
	label {
		font-size: 24px;
		color: #000;
		font-family: 'Audiowide';
	}
}

.button-card-user {
	font-weight: 700;
	letter-spacing: 1.2px;
	transition: all 300ms ease-in-out;
	font-size: 18px;
	&:hover {
		color: $third;
	}
}

.svg-add {
	stroke: #0e9f6e;
	transition: all 300ms ease-in-out;
	&:hover {
		stroke: #046c4e;
	}
}

.svg-msg {
	fill: #1c64f2;
	transition: all 300ms ease-in-out;
	&:hover {
		fill: #1e429f;
	}
}

.svg-profile {
	fill: $third;
	transition: all 300ms ease-in-out;
	&:hover {
		fill: $secondary;
	}
}

.svg-delete {
	stroke: #f05252;
	transition: all 300ms ease-in-out;
	&:hover {
		stroke: #c81e1e;
	}
}

.progress-label {
	span {
		color : $dark;
	}
	.rounded-full {
		background-color: $third !important;
	}
}

.tabs-item {
	li {
		button {
			color: #000;
			background-color: $primary;
			border-radius: 0;
			transition: color 300ms ease-in-out;
			&.active {
				color : $third;
				background-color: $primary;
				border-bottom: 1px solid $third;
			}
			&:hover {
				color : $third;
				background-color: $primary;
			}
		}
	}
}

.accordion {
	border: none !important;
	
	h2 {
		border: none !important;
		&:hover {
			background-color: transparent !important;
		}
		&[aria-expanded=true] {
			button {
				color: $third;
			}
		}
		button {
			transition: all 300ms ease-in-out;
			color: $dark;
			background-color: transparent !important;
			&:hover {
				color: $third;
				background-color: transparent !important;
			}
			&.active {
				background-color: $primary !important;
				color: $third;
			}
			&:focus,
			&:focus-within {
				outline: none !important;
				box-shadow: none !important;
			}
		}
	}
}

.toast-style {
	position: absolute;
	top: 63px;
	left: 50%;
	transform: translateX(-50%);
	background-color: $primary !important;
	padding: 5px 15px;
	svg {
		stroke: $third;
	}
	.flex-shrink-0 {
		background-color: transparent !important;
	}
}

.dropdown-notification {
	max-width: 300px;
	.notification:not(:last-child) {
		border-bottom: 1px solid $third;
	}
	ul {
		width: 100% !important;
	}
	.text-notif {
		font-weight: 300;
		.capitalize {
			font-weight: 400;
		}
	}
}
