@import "variables.scss";
// .div-card-user {
// 	// border: 1px solid $secondary;
// 	box-shadow: 0 0px 3px $secondary;
// }
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	color: rgb(63, 63, 70);
	font-family: 'Ubuntu', sans-serif;
}

h1 {
	font-family: 'Audiowide' !important;
	font-size: 48px !important;
}

canvas {
	background-color: "#dcd3bc";
	border-radius: 10px;
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	outline: #dcd3bc 0.35vw solid;
	display: flex;
	margin-top: 5vh;
	margin-bottom: 5vh;
	width: 70vw;
	height: 70vh;
	&:hover {
		cursor: none;
	}
}

.mp-modal {
	border: 1px solid $third;
	border-radius: 7px;
	background-color: $primary;
	font-family: 'Audiowide' !important;
	.header {
		border-bottom: 1px solid $third;
	}
	.body {
		overflow-y: scroll;
		max-height: 350px;
		padding: 10px 0;
		&::-webkit-scrollbar{
			display: none;
		}
		.my-msg {
			background-color: $third;
			display: flex;
			flex-direction: row-reverse;
			gap: 10px;
			max-width: 90%;
			padding: 5px 10px 5px 0px;
			margin: 0 5px 0px auto;
			&.solo {
				border-radius: 3px 20px 3px 20px;
				margin-bottom: 5px;
			}
			&.start {
				border-radius: 3px 20px 0 0;
			}
			&.end {
				border-radius: 0px 0px 3px 20px;
				margin-bottom: 5px;
			}
		}
		.other-msg {
			display: flex;
			gap: 10px;
			max-width: 90%;
			background-color: $secondary;
			padding: 5px 0px 5px 10px;
			margin: 0 auto 0px 5px;
			&.solo {
				border-radius: 20px 3px 20px 3px;
				margin-bottom: 5px;
			}
			&.start {
				border-radius: 20px 3px 0 0;
			}
			&.end {
				border-radius: 0px 0px 20px 0px;
				margin-bottom: 5px;
			}
		}
	}
}

.nav-ul {
	li {
		a {
			font-family: 'Audiowide' !important;

		}
	}
}

button,
.a-login,
.button-mode {
	font-family: 'Audiowide' !important;
	background-color: $third;
	padding: 5px 10px;
	font-size: 18px;
	border-radius: 7px;
	transition: 300ms all ease-in-out;
	&:hover {
		color: $third;
		background-color: $primary;
	}
}

.game-mode {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	h3 {
		font-size: 42px;
		font-weight: 700;
		font-family: 'Audiowide';
	}
}

.a-login,
.submit-2fa {
	display: flex;
	gap: 10px;
	align-items: center;
	background-color: $third;
	padding: 10px;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 500;
	transition: 300ms all ease-in-out;
	color: $dark;
	&:hover {
		color: $third;
		background-color: $primary;
	}
}

#inputOne {
	padding: 4px;
	border: none;
	border-bottom: 1px solid $third;
	background-color: transparent;
	max-width: 150px;
	font-size: 28px;
	text-align: center;
}

#search,
#login {
	padding: 4px;
	border: none;
	border-bottom: 1px solid $third;
	background-color: transparent;
	max-width: 200px;
}

#login {
	max-width: 100px;
}

#order,
#filter {
	cursor: pointer;
	border: none;
	padding-left: 2px;
	padding-bottom: 4px;
	border-bottom: 1px solid $third;
	background-color: transparent;
	max-width: 150px;
}

.header-user-card {
	font-family: "Audiowide";
	font-weight: 700;
}

.content-search-users {
	label {
		font-family: "Audiowide";
		font-weight: 700;
	}
}

.button-card-user {
	font-weight: 700;
	letter-spacing: 1.2px;
	transition: all 300ms ease-in-out;
	font-size: 18px;
	&:hover {
		color: $third;
	}
}

.svg-add {
	stroke: #0e9f6e;
	transition: all 300ms ease-in-out;
	&:hover {
		stroke: #046c4e;
	}
}

.svg-msg {
	fill: #1c64f2;
	transition: all 300ms ease-in-out;
	&:hover {
		fill: #1e429f;
	}
}

.svg-profile {
	fill: $third;
	transition: all 300ms ease-in-out;
	&:hover {
		fill: $secondary;
	}
}

.svg-delete {
	stroke: #f05252;
	transition: all 300ms ease-in-out;
	&:hover {
		stroke: #c81e1e;
	}
}

.progress-label {
	span {
		color : $dark;
	}
	.rounded-full {
		background-color: $third !important;
	}
}

.tabs-item {
	li {
		button {
			color: #000;
			background-color: $primary;
			border-radius: 0;
			transition: color 300ms ease-in-out;
			&.active {
				color : $third;
				background-color: $primary;
				border-bottom: 1px solid $third;
			}
			&:hover {
				color : $third;
				background-color: $primary;
			}

		}
	}
}

.accordion {
	border: none !important;

	h2 {
		border: none !important;
		&:hover {
			background-color: $primary !important;
		}
		&[aria-expanded=true] {
			button {
				color: $third;
			}
		}
		button {
			transition: all 300ms ease-in-out;
			color: $dark;
			background-color: transparent !important;
			&:hover {
				color: $third;
				background-color: $primary !important;
			}
			&.active {
				background-color: $primary !important;
				color: $third;
			}
			&:focus,
			&:focus-within {
				outline: none !important;
				box-shadow: none !important;
			}
		}
	}
}

.dropdown-notification {
	max-width: 300px;
	.notification:not(:last-child) {
		border-bottom: 1px solid $third;
	}
	ul {
		width: 100% !important;
	}
	.text-notif {
		font-weight: 300;
		.capitalize {
			font-weight: 400;
		}
	}
}
