$title-font : 'Audiowide';
$title-color : #EA519D;
$titleh2-size : 60px;

$border-radius : 5px;

$body-bg : #43467C;

$secondary-bg : rgba(128, 128, 128, 0.25);

$link-size : 28px;
$link-bg : #EA519D;
$link-color : #fff;
$link-bg-hover : #fff;
$link-color-hover : #EA519D;

$transition : 250ms all ease-in-out;

$text-color : #fff;

$primary-color : #43467C;
$secondary-color : #EA519D;
$third-color : rgba(128, 128, 128, 0.25);

$primary : #FCFBF4;
$secondary : #dcd3bc;
$third : #AB9158;
$white : #fff;
$dark : #282828;